<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page </title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    <h1 class="head">Yours Feed page</h1>

    <div class="fed">
        <% posts.forEach(element => { %>
            <li class="name"> Author : <%= element.name %></li>
            <p class="text"><%= element.text %></p>
            <h4>Comments</h4>
            <ul>
                <% postsWComments[0].forEach(comment => { %>
                    <li><%= comment.text %> - <small> BY <%= comment.createdBy %></small></li>
                <% }) %>
            </ul>

            <form action="/add-comment/<%= element._id %>" method="POST">
                <label for="comment">Your Comment:</label>
                <textarea id="comment" name="text" required></textarea>
                <button type="submit">Add Comment</button>
            </form>

        <% }) %> 
    </div>




    <a href="/home"> Back To Profile</a>
    
</body>
</html>